main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
}

section#hicksLaw {
    border-radius: 8px;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: lightgray;  
}
section#thirds {
    border-radius: 8px;
    border: 1px solid black; 
    padding: 1rem;
    margin: 1rem;
    background-color: lightgray;
}
section#whiteSpace {
    border-radius: 8px;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: lightgray;
}

footer {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 1rem;
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem;
}

header {
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem;  
}
 
img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    padding: 1rem;
}

p1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    background-color: gray;
}