main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8rem;
}

section#hicksLaw {
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
    text-align: center;
}
section#thirds {
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
    text-align: center;
}
section#whiteSpace {
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
    text-align: center;
}

footer {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 1rem;
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem;
}

header {
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem;  
}