* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 1rem;
    background-color: aquamarine;
    align-items: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem; 
    margin-bottom: .5rem;
    display: inline-flex;
}

h1 {
    margin-right: 5rem;
    margin-left: 2.5rem;
    text-shadow: 0 0 20px;
}

img {
    padding: .1rem;
    box-shadow: 0 0 20px;
}

body {
    justify-content: center;
    margin: 1rem;
}

ul {
    margin: 1rem;
    margin-left: 45px;
    padding: .5rem;
    border-bottom: 1px solid gray;
    width: 500px;
}

li {
    padding: .3rem;
}

h2 {
    margin-left: 2.5rem;
    text-shadow: 0 0 20px;
    font-size: 28px;
    width: 500px;
    border-bottom: 1px solid gray;
}

footer {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding:1rem;
    background-color: aquamarine;
    align-items: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem;
    display: inline-flex;
}

em {
    font-size: smaller;
    margin-left: 3rem;
}

p3 {
    padding-top: .2rem;
    margin-left: 4rem;
}