@media only screen and (min-width: 60em) {
    body, header, footer {
        max-width: 1440px;
    }
	nav ul { display: flex;}
    nav ul li { flex: 1 1 auto;}

    nav a {
        font-size: 2rem;
    }
}