* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #689689 ;
 }

nav {
    margin: 1rem;
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px;
    font-family: 'Poppins', sans-serif;
}
header {
   display: flex; 
   border: 1px solid black;
   margin: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px;
    font-family: 'Poppins', sans-serif;

}

main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 20px;
}

h3 {
    background-color: #B2E6D4;
    font-size: 20px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    
}

p1 {
    font-size: 20px;
    padding: 1rem;
}
a {
    font-size: 20px;
}

table, th, td {
     margin: 1rem;
     font-size: 20px;
     border: 1px solid black;
}

.coloredText {
     background-color: #83E8BA;
}

footer {
    border: 1px solid;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px;
    justify-content: center;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
}